<!DOCTYPE html>
<title>{{ products.title }}</title>
<body itemscope itemtype="https://schema.org/SomeProducts">
    <h1 itemprop="name" class="title">{{ products.title }}</h1>
    <h2 itemprop="description" class="subtitle">Available Items</h2>
    <ol>
        {% for product in products.products %}
        <li itemprop="category"
            itemscope
            itemtype="https://schema.org/Product"
            class="item" >
                <a itemprop="url" rel="item" href="/catalog/{{ products.title.lower() }}/{{ product.name.lower() }}">
                    <span itemprop="name">{{ product.name }}</span>
                </a>
        </li>
        {% endfor %}
    </ol>
    <br>
    <a rel="order" href="/order">Order Form</a>
    <br>
    <a rel="collection" href="/catalog">Back to item catalog</a>
</body>