<!DOCTYPE html>
<title>Available Items</title>
<body itemscope itemtype="https://schema.org/Service">
    <h1 itemprop="name" class="title">Jeffrey's Shoddy Online Grocery Service</h1>
    <h2 itemprop="description" class="subtitle">Browse Available Product Categories</h2>
    <ol>
        {% for key, category in categories.items() %}
        <li itemprop="category" 
            itemscope 
            itemtype="https://schema.org/SomeProducts"
            class="category" 
            name="{{ key }}">
                <a itemprop="url" rel="item" href="/catalog/{{ key }}"> 
                    <span itemprop="name">{{ category.title }}</span>
                </a>
                <p itemprop="description">Description: {{ category.description }}</p>
        </li>
        {% endfor %}
    </ol>
    <a rel="order" href="/order">Order Form</a>
</body>