<!DOCTYPE html>
<title>Available Items</title>
<body>
    <h1 class="title">Jeffrey's Shoddy Online Grocery Service</h1>
    <h2 class="subtitle">Choose a Category</h2>
    <ol>
        {% for key, category in categories.items() %}
        <li itemscope
            itemtype="https://schema.org/SomeProducts"
            class="category" 
            name="{{ key }}">
            <a rel="item" href="/catalog/{{ key }}" itemprop="url"> <span itemprop="name">{{ category.title }}</span></a>
            <p itemprop="description">Description: {{ category.description }}</p>
        </li>
        {% endfor %}
    </ol>
    <a rel="order" href="/order">Order Form</a>
</body>