<!DOCTYPE html>
<title>Items to be Ordered</title>
<body>
    <h1 class="title">Items to be Ordered</h1>
    <ol>
        {% for item in items %}
        <li itemscope class="ordered-item" name="{{ item.name }}">
            <div itemscope itemtype="https://schema.org/Product">
                <a itemprop="url" itemprop="sameAs" rel="item-ref" href="{{ item.link }}">
                    <span itemprop="name">{{ item.name }}</span>
                </a>
                <p itemprop="additionalProperty" itemscope itemtype="https://schema.org/PropertyValue" class="quantity">
                    <span itemprop="value">Quantity: {{ item.quantity }}</span>
                </p>
                <p itemprop="additionalProperty" itemscope itemtype="https://schema.org/PropertyValue" class="price">
                    <span itemprop="value">Price: ${{ item.price }}</span>
                </p>
                <form class="remove-item-{{ loop.index }}" action="" method="PATCH">
                    <input type="hidden" name="remove" value="{{ item.name }}">
                    <input class="remove" type="button" value="Remove">
                    <script>
                    var form = document.querySelector('form.remove-item-{{ loop.index }}');
                    var button = document.querySelector('form.remove-item-{{ loop.index }} input.remove');
                    button.addEventListener('click', function (event) {
                        event.preventDefault();
                        var request = new XMLHttpRequest();
                        request.open('PATCH', window.location.pathname);
                        request.onreadystatechange = function () {
                          if (XMLHttpRequest.DONE === request.readyState 
                              && 200 === request.status) {
                            window.location.reload(true);
                          }
                        }
                        request.send(new FormData(form));
                    }, false);
                    </script>
                </form>
            </div>
        </li>
        <br>
        {% endfor %}
    </ol>
    <br>
    <a rel="collection" href="/catalog">Item Catalog</a>
    <br>
    <a rel="payment" href="/payment">Pay for Order</a>
    
</body>